@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color0: 40 42 54;
        --color1: 68 71 90;
        --color2: 248 248 242;
        --color3: 98 114 164;
        --color4: 139 233 253;
        --color5: 80 250 123;
        --color6: 255 184 108;
        --color7: 255 121 198;
        --color8: 189 147 249;
        --color9: 255 85 85;
        --color10: 241 250 140;
        --color11: 139 233 253;
        --color12: 80 250 123;
        --color13: 255 184 108;
        --color14: 255 121 198;
        --color15: 189 147 249;
        --background: 40 42 54;
        --selection_foreground: 68 71 90;
        --cursor: 139 233 253;
        --foreground: 248 248 242;
        --selection_background: 189 147 249;
    }
}